@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';

@theme {
  --font-inter: "Inter", sans-serif;
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}

.bg-gr {
  @apply bg-linear-to-tr from-purple-700 to-purple-400
}
